{% extends 'layout.html' %}

{% block title %}
    User-Register
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-register.css') }}">
{% endblock %}

{% block content %}

    <h1 class="display-1">User Registration</h1>

    <form action="{{ url_for('user_registration_post') }}" class="register" method="post">

        <div class="register-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="" class="form-control">
        </div>

        <div class="register-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="" class="form-control">
        </div>

        <div class="register-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="" class="form-control">
        </div>

        <div class="register-group">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" name="cpassword" id="" class="form-control">
        </div>

        <div class="register-group">
            <label for="contact" class="form-label">Contact Info</label>
            <input type="tel" name="contact" id="" class="form-control">
        </div>
        
        <div class="register-group">
            <label for="address" class="form-label">Address</label>
            <input type="text" name="address" id="" class="form-control">
        </div>

        <div class="register-group">
            <label for="pin" class="form-label">Pin</label>
            <input type="tel" name="pin" id="" class="form-control">
        </div>

        <div class="register-group">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>

    </form>

{% endblock %}
